@media screen and (max-width: 1025px) {
    .wrapper {
        width: 1020px;
        display: flex;

    }
}

@media screen and (max-width: 769px) {
    .wrapper {
        width: 760px;
        display: flex;

    }
}

@media screen and (max-width: 601px) {
    .wrapper {
        width: 600px;
        display: flex;

    }
}

@media screen and (max-width: 376px) {
    .wrapper {
        width: 375px;
        display: flex;
    }
    .wrapper h2,
    .wrapper h3 { 
        font-size: 15px;
    }
}

