.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.inner {
    width: var(--default-layout-width);
    // background-color: #ccc;
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-top: 50px;

   
}