.wrapper {
    width: 100%;
    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .inner-top-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100px;
        // background-color: red;

        .nav-input {
            display: block;
        }

        .nav-input:checked ~ .inner.headerMenu__mobile {
            transform: translateX(0%);
            // transform: translateX(0);
        }

        .left-icon {
            .bars-icon {
                font-size: 18px;
                // margin: 0 20px;
                cursor: pointer;
                display: none;
            }

            .shirt-icon {
                font-size: 18px;
                user-select: none;
                margin: 0 20px;
            }

            .search-icon {
                font-size: 18px;

                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
                &:active {
                    color: red;
                    opacity: 0.7;
                }
            }
        }

        .header-brand {
            font-size: 30px;
        }
    }

    .brand {
        line-height: 60px;
        text-decoration: overline;
        // text-decoration: underline;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .nav_input {
        display: none;
    }

    .nav_input:checked ~ .nav_overlay {
        display: block;
    }

    .nav_input:checked ~ .headerMenu__mobile {
        transform: translateX(0);
        opacity: 1;
    }

    // overlay
    .nav_overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 10;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn linear 0.2s;
    }

    // HEADER MENU MOBILE

    .headerMenu__mobile {
        position: fixed;
        top: 10px;
        left: 0;
        bottom: 0;
        width: 320px;
        height: 100px;
        max-width: 100%;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform linear 0.2s, opacity linear 0.2s;
        text-align: center;
        // background-color: red;

        .headerMenu__mobile-close {
            font-size: 1.6rem;
            color: #666;
            position: absolute;
            top: 3rem;
            right: 1rem;
            cursor: pointer;
        }

        .headerMenu__mobile-list {
            margin-top: 24px;
            // background-color: red;
            .headerMenu__mobile-list ul { 
                // background-color: red;
            }
          

            .headerMenu__mobile-link {
                text-decoration: none;
                color: #333;
                display: block;
                padding: 8px 0;
                font-size: 1.4rem;
                background-color: white;
            }
        }
    }
}
.inner img {
    width: 105px;
    height: 100%;
}

.headerMenu {
}

.headerMenu ul {
    display: flex;
    justify-content: space-evenly;
    margin: 36px 0;
    // background-color: #34495e;
    position: relative;
}

.headerMenu ul li {
    display: inline-block;
    position: relative;
    padding-bottom: 0.25rem;

    &::before {
        content: '';
        position: absolute;
        left: 1;
        bottom: 0;
        width: 0;
        height: 0.25px;
        background-color: var(--black-color);
        transition: width 0.25s ease-out;
    }

    &:hover::before {
        width: 100%;
    }
}

.headerMenu ul li a {
    list-style: none;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    letter-spacing: 0.5;

    color: #262626;
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
}

// icon
.icon,
.left-icon {
    line-height: var(--default-layout-header-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon__main {
    display: flex;
    align-items: center;
    // justify-content: center;
}

.cartIcon {
    position: relative;
    span {
        font-size: 12px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: blue;
        color: var(--white-color);
        position: absolute;
        right: -10px;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        // text-align: center;
    }
}

.home {
    font-size: 18px;
    padding: 0px 10px;
    &:hover {
        cursor: pointer;
    }
    &:active {
        color: red;
        opacity: 0.7;
    }
}

.user {
    font-size: 18px;
    padding: 0 10px;
    &:hover {
        cursor: pointer;
    }
    &:active {
        color: red;
        opacity: 0.7;
    }
}

.cart {
    font-size: 18px;
    padding: 0 10px;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    &:active {
        color: red;
        opacity: 0.7;
    }
}

// Menu items
.menu-items {
    width: 224px;
}

.more-btn {
    font-size: 2rem;
    margin-left: 12px;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
}

// Animation
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Responsive
@media screen and (max-width: 1023px) {
    .wrapper {
        width: 1020px;
        display: flex;
        justify-content: center;
        background-color: transparent;
    }

    .inner {
        width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // padding: 0 14px;
    }

    .inner .inner-top-header .left-icon .bars-icon {
        display: block;
    }
    .headerMenu {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .wrapper {
        width: 900px;
        display: flex;
        justify-content: center;
        background-color: transparent;
    }

    .inner {
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .inner .inner-top-header .left-icon .shirt-icon,
    .inner .inner-top-header .left-icon .bars-icon,
    .inner .inner-top-header .left-icon .search-icon {
        font-size: 14px;
    }

    .not-auth .home,
    .not-auth .user,
    .not-auth .cart {
        font-size: 14px;
    }

    .inner .inner-top-header .header-brand {
        font-size: 20px;
    }

    .inner .inner-top-header .icon {
        font-size: 14px;
    }

    .inner .inner-top-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100px;
    }

    .headerMenu {
        display: none;
    }
    .wrapper .inner .inner-top-header .left-icon .bars-icon {
        display: block;
    }
}
