@media screen and (max-width: 1025px) {
    .wrapper {
        width: 1020px;
        display: flex;
    }
    .wrapper h1 {
        font-size: 30px;
    }
    .wrapper p {
        font-size: 20px;
    }
    .wrapper span {
        font-size: 14px;
    }
}

@media screen and (max-width: 769px) {
    .wrapper {
        width: 760px;
        display: flex;
    }

    .wrapper h1 {
        font-size: 25px;
    }
    .wrapper p {
        width: 500px;
        font-size: 14px;
        text-align: justify;
    }
    img { 
        width: 100px;
    }
    // .wrapper .btn {
    //     font-size: 14px;
    // }
  
}

@media screen and (max-width: 601px) {
    .wrapper {
        width: 600px;
        display: flex;

    }
}

@media screen and (max-width: 376px) {
    .wrapper {
        width: 375px;
        display: flex;
    }
    .wrapper h2,
    .wrapper h3 { 
        font-size: 15px;
    }
}

