@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3b82f6;
    --toastify-color-success: #22c55e;
    --toastify-color-warning: #eab308;
    --toastify-color-error: #ef4444;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track color */
    border-radius: 1rem;
    /* Border radius for the track */
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    /* Thumb color, choose one that matches your theme */
    border-radius: 1rem;
    /* Border radius for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
    /* Thumb color on hover */
}